@using myVegAppDbAPI.Model.Website
@model HomeViewModel
@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.Message.Status==0)
{
    @section Preloader{
        <!-- =========================
             PRE LOADER
        ============================== -->
        <div class="preloader">
            <div class="status">&nbsp;</div>
        </div>
    }
}



@Html.Partial("_Header")

@Html.Partial("_Features")

@*@Html.Partial("_BriefLeft")

@Html.Partial("_BriefRightWithVideo")

@Html.Partial("_Testimonial")

@Html.Partial("_Services")

@Html.Partial("_Pricing")

@Html.Partial("_Download")*@

@Html.Partial("_Footer",Model.Message);